name: Update Currency Rates

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch Rates
        run: |
          curl "https://openexchangerates.org/api/latest.json?app_id=${{ secrets.API_KEY }}" -o rates.json

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add rates.json
          git commit -m "Update rates" || exit 0
          git pull --rebase
          git push
